body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
}

.main-content {
    max-width: 1000px;
    margin: auto;
    padding: 25px;
    color: #eee;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #bababa;
}

.top-row {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #175f99;
}

.left-top {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
}

.avatar {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background: #fffefe00;
}

.name h1 {
    margin: 0;
    font-size: 28px;
}

.name h3 {
    margin: 4px 0 0;
    color: #5abee7;
}

.right-top {
    flex: 1;
}

.right-top ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.middle-row {
    background: #175f99;
    padding: 20px;
}

.last-row {
    display: flex;
    gap: 25px;
}

.left-bottom,
.right-bottom {
    background: #175f99;
    padding: 20px;
    flex: 1;
}

.left-bottom {
    flex: 2;
}

.employment {
    margin-bottom: 18px;
}

.employment span {
    color: #aaa;
    font-size: 14px;
}

.job-entry h5 {
    color: #5abee7;
}

.right-bottom ul {
    padding-left: 18px;
}
